In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("unempoyment_years.csv")
print(df)

                                          Country Name Country Code   1991  \
0                          Africa Eastern and Southern          AFE   7.80
1                                          Afghanistan          AFG  10.65
2                           Africa Western and Central          AFW   4.42
3                                               Angola          AGO   4.21
4                                              Albania          ALB  10.31
5                                           Arab World          ARB  11.62
6                                 United Arab Emirates          ARE   1.87
7                                            Argentina          ARG   5.44
8                                              Armenia          ARM   1.60
9                                            Australia          AUS   9.58
10                                             Austria          AUT   3.42
11                                          Azerbaijan          AZE   0.90
12                                             Burundi          BDI   1.51
13                                             Belgium          BEL   6.99
14                                               Benin          BEN   1.49
15                                        Burkina Faso          BFA   2.58
16                                          Bangladesh          BGD   2.20
17                                            Bulgaria          BGR  11.10
18                                             Bahrain          BHR   1.01
19                                        Bahamas, The          BHS  12.17
20                              Bosnia and Herzegovina          BIH  17.55
21                                             Belarus          BLR   0.60
22                                              Belize          BLZ   9.70
23                                             Bolivia          BOL   2.96
24                                              Brazil          BRA   6.31
25                                            Barbados          BRB  22.67
26                                   Brunei Darussalam          BRN   4.70
27                                              Bhutan          BTN   1.41
28                                            Botswana          BWA  13.82
29                            Central African Republic          CAF   5.62
..                                                 ...          ...    ...
205                                           Thailand          THA   2.63
206                                         Tajikistan          TJK   1.90
207                                       Turkmenistan          TKM   1.40
208  Latin America & the Caribbean (IDA & IBRD coun...          TLA   5.99
209                                        Timor-Leste          TLS   3.54
210  Middle East & North Africa (IDA & IBRD countries)          TMN  11.86
211                                              Tonga          TON   1.31
212                            South Asia (IDA & IBRD)          TSA   5.02
213          Sub-Saharan Africa (IDA & IBRD countries)          TSS   6.51
214                                Trinidad and Tobago          TTO  18.52
215                                            Tunisia          TUN  15.65
216                                            Turkiye          TUR   8.21
217                                           Tanzania          TZA   3.60
218                                             Uganda          UGA   0.94
219                                            Ukraine          UKR   1.90
220                                Upper middle income          UMC   3.82
221                                            Uruguay          URY   8.95
222                           United States of America          USA   6.80
223                                         Uzbekistan          UZB   1.90
224                     St. Vincent and the Grenadines          VCT  19.77
225                                          Venezuela          VEN   9.45
226                              Virgin Islands (U.S.)          VIR  12.35
227                                            Vietnam          VNM   2.09
228                                            Vanuatu          VUT   1.68
229                                              World          WLD   4.80
230                                              Samoa          WSM   2.10
231                                              Yemen          YEM   8.32
232                                       South Africa          ZAF  29.95
233                                             Zambia          ZMB  18.90
234                                           Zimbabwe          ZWE   4.94

      1992   1993   1994   1995   1996   1997   1998  ...   2012   2013  \
0     7.84   7.85   7.84   7.83   7.84   7.86   7.81  ...   6.56   6.45
1    10.82  10.72  10.73  11.18  10.96  10.78  10.80  ...  11.34  11.19
2     4.53   4.55   4.54   4.53   4.57   4.60   4.66  ...   4.64   4.41
3     4.21   4.23   4.16   4.11   4.10   4.09   4.07  ...   7.35   7.37
4    30.01  25.26  20.84  14.61  13.93  16.88  20.05  ...  13.38  15.87
5    12.12  12.86  12.95  13.32  12.38  11.95  11.97  ...  10.66  10.74
6     1.84   1.85   1.81   1.80   1.90   1.98   2.14  ...   2.18   2.04
7     6.36  10.10  11.76  18.80  17.11  14.82  12.65  ...   7.22   7.10
8     1.80   5.30   6.60   6.70   9.30  10.80   9.40  ...  17.30  16.18
9    10.73  10.87   9.72   8.47   8.51   8.36   7.68  ...   5.22   5.66
10    3.59   4.25   3.54   4.35   5.28   5.15   5.52  ...   4.87   5.33
11    1.80   4.50   6.30   7.20   8.10   9.10  10.00  ...   5.19   4.97
12    1.53   1.56   1.56   1.58   1.59   1.57   1.56  ...   1.59   1.58
13    6.70   8.08   9.65   9.34   9.48   8.96   9.32  ...   7.54   8.43
14    1.51   1.41   1.36   1.25   1.18   1.10   1.02  ...   2.47   2.29
15    2.61   2.58   2.58   2.53   2.47   2.47   2.44  ...   3.91   4.05
16    2.33   2.36   2.38   2.48   2.51   2.69   2.90  ...   4.12   4.43
17   15.30  16.40  12.80  11.10  12.50  13.70  12.20  ...  12.27  12.94
18    1.05   1.01   1.11   1.08   1.08   1.09   1.08  ...   1.20   1.18
19   14.81  12.72  13.83  10.83  11.46   9.76   7.65  ...  14.02  16.18
20   18.30  19.32  20.71  21.77  22.77  23.61  24.49  ...  28.01  27.49
21    3.10   8.50  12.80  17.70  24.40  17.10  14.00  ...   6.05   6.01
22    9.69   9.78  11.10  12.48  13.82  12.68  14.31  ...   8.31   8.35
23    3.26   3.08   3.08   2.75   2.44   2.08   2.13  ...   2.07   2.44
24    6.42   6.03   6.17   6.42   7.25   8.16   9.42  ...   7.19   6.98
25   22.94  24.54  22.98  19.66  14.71  14.61  12.40  ...  11.59  11.55
26    4.86   4.82   5.03   5.18   5.24   5.19   5.33  ...   6.92   6.88
27    1.45   1.41   1.43   1.45   1.42   1.40   1.40  ...   2.05   2.87
28   16.30  18.76  21.20  21.37  21.59  21.17  20.86  ...  18.95  19.40
29    5.69   5.72   5.72   5.70   5.74   5.76   5.71  ...   5.55   5.52
..     ...    ...    ...    ...    ...    ...    ...  ...    ...    ...
205   1.35   1.49   1.35   1.10   1.07   0.87   3.40  ...   0.58   0.25
206   2.10   6.20   8.80  10.30  13.40  13.90  16.50  ...   9.58   8.91
207   1.50   1.50   4.70   8.30  10.30  11.00  12.20  ...   4.09   4.11
208   5.93   5.94   6.44   7.65   8.03   7.86   8.26  ...   6.42   6.37
209   3.53   3.52   3.54   3.53   3.51   3.56   3.61  ...   3.76   4.02
210  12.14  12.84  12.89  13.34  12.31  12.05  12.24  ...  11.68  11.40
211   1.38   1.30   1.66   1.98   2.49   2.89   3.24  ...   2.07   2.24
212   5.12   5.08   5.12   5.13   5.09   4.98   5.02  ...   4.91   5.07
213   6.58   6.60   6.59   6.58   6.60   6.63   6.62  ...   5.85   5.71
214  19.66  19.81  18.44  17.22  16.25  15.01  14.21  ...   3.72   2.68
215  15.58  15.83  15.86  15.94  15.83  15.94  15.61  ...  17.63  15.93
216   8.51   8.96   8.58   7.64   6.63   6.84   6.89  ...   8.15   8.73
217   3.56   3.50   3.44   3.36   3.29   3.24   3.19  ...   3.23   2.93
218   0.92   1.16   1.42   1.65   1.92   2.21   2.47  ...   3.55   1.91
219   1.90   2.00   2.00   5.62   7.65   8.93  11.32  ...   7.53   7.17
220   3.87   4.19   4.62   5.01   5.18   5.34   5.61  ...   5.48   5.49
221   8.96   8.35   9.04  10.02  11.93  11.44   9.36  ...   6.45   6.44
222   7.50   6.90   6.12   5.65   5.45   5.00   4.51  ...   8.07   7.37
223   2.90   4.90   7.30   7.80  10.70  10.90  13.30  ...   4.90   4.90
224  19.69  19.74  20.19  19.99  20.38  20.44  20.57  ...  18.97  18.99
225   7.69   6.60   8.56  10.24  11.77  11.16  11.15  ...   6.60   7.54
226  12.51  12.70  12.47  12.13  12.21  12.12  11.86  ...  12.23  12.76
227   1.91   1.97   1.93   1.90   1.93   2.87   2.29  ...   1.03   1.32
228   1.69   1.73   1.59   1.74   1.72   1.68   1.76  ...   1.85   1.86
229   4.96   5.23   5.49   5.63   5.70   5.70   5.86  ...   5.74   5.73
230   2.38   2.63   3.04   3.19   3.47   3.90   4.18  ...   8.75   8.67
231   8.31   8.35   8.34   8.96   9.59  10.20  10.81  ...  13.17  13.27
232  29.98  29.92  29.89  29.89  29.87  29.91  29.95  ...  24.73  24.56
233  19.37  19.70  18.43  16.81  15.30  13.64  12.00  ...   7.85   8.61
234   4.99   4.97   4.96   5.63   6.25   6.93   6.46  ...   5.15   4.98

      2014   2015   2016   2017   2018   2019   2020   2021
0     6.41   6.49   6.61   6.71   6.73   6.91   7.56   8.11
1    11.14  11.13  11.16  11.18  11.15  11.22  11.71  13.28
2     4.69   4.63   5.57   6.02   6.04   6.06   6.77   6.84
3     7.37   7.39   7.41   7.41   7.42   7.42   8.33   8.53
4    18.05  17.19  15.42  13.62  12.30  11.47  13.33  11.82
5    10.87  10.97  10.76  10.90  10.50  10.01  11.49  11.63
6     1.91   1.77   1.64   2.46   2.35   2.23   3.19   3.36
7     7.27   7.52   8.11   8.35   9.22   9.84  11.46  10.90
8    17.50  18.26  17.62  17.70  18.97  18.30  21.21  20.90
9     6.08   6.05   5.71   5.59   5.30   5.16   6.46   5.11
10    5.62   5.72   6.01   5.50   4.85   4.49   5.36   6.30
11    4.91   4.96   5.00   5.00   4.90   4.85   6.46   6.58
12    1.57   1.60   1.59   1.59   1.59   1.59   1.71   1.79
13    8.52   8.48   7.83   7.09   5.95   5.36   5.55   6.42
14    2.13   2.01   1.83   1.64   1.47   1.47   1.58   1.57
15    4.19   4.32   4.43   4.56   4.69   4.69   4.89   4.76
16    4.38   4.37   4.35   4.37   4.41   4.44   5.41   5.23
17   11.42   9.14   7.57   6.16   5.21   4.23   5.12   5.42
18    1.19   1.20   1.19   1.18   1.20   1.20   1.78   1.87
19   13.80  12.00  12.70   9.80  10.00  10.06  13.32  13.24
20   27.52  27.69  25.41  20.53  18.40  15.69  15.27  15.22
21    5.99   5.84   5.84   5.65   4.76   4.16   4.77   4.74
22    8.24   7.58   7.00   6.60   6.64   6.71   8.46   8.22
23    2.02   3.11   3.50   3.65   3.52   3.82   7.90   8.51
24    6.66   8.43  11.60  12.82  12.33  11.93  13.69  14.40
25   12.17   9.80   8.25   8.62   8.32   8.41  10.38  10.41
26    6.97   7.78   8.38   9.32   8.70   6.92   7.68   7.65
27    2.63   2.45   2.49   2.45   2.44   2.50   3.65   4.33
28   19.99  20.57  21.03  21.57  22.07  22.61  24.93  24.72
29    5.53   5.61   5.65   5.65   5.61   5.62   6.36   6.57
..     ...    ...    ...    ...    ...    ...    ...    ...
205   0.58   0.60   0.69   0.83   0.77   0.72   1.10   1.42
206   8.23   7.55   6.90   6.95   7.01   7.06   7.58   7.75
207   4.14   4.14   4.17   4.20   4.23   4.27   4.95   5.08
208   6.18   6.68   7.80   8.09   7.98   8.04  10.20  10.09
209   4.21   4.45   4.66   4.76   4.73   4.51   4.91   5.07
210  11.58  11.82  11.93  11.93  11.46  10.60  12.09  12.05
211   2.37   2.55   2.57   2.82   3.07   3.06   3.63   3.97
212   4.97   5.14   5.15   5.12   5.12   5.02   7.24   5.79
213   5.79   5.82   6.24   6.47   6.48   6.61   7.28   7.66
214   2.48   2.43   3.21   3.28   3.34   3.42   4.57   4.80
215  15.06  15.16  15.56  15.33  15.46  15.13  16.59  16.82
216   9.88  10.24  10.84  10.82  10.89  13.67  13.11  13.39
217   2.12   2.14   2.16   2.18   2.21   2.22   2.53   2.65
218   1.91   1.91   1.92   1.93   1.92   1.92   2.77   2.94
219   9.27   9.14   9.35   9.50   8.80   8.19   9.13   8.88
220   5.49   5.66   5.90   5.93   5.77   6.00   6.76   6.76
221   6.55   7.49   7.84   7.89   8.34   8.88  10.35  10.45
222   6.17   5.28   4.87   4.36   3.90   3.67   8.05   5.46
223   5.10   5.20   5.20   5.80   5.84   5.85   7.04   7.16
224  19.05  19.09  19.11  19.18  19.18  19.28  21.00  21.62
225   6.86   6.08   5.32   5.05   5.02   5.10   6.63   6.41
226  12.79  12.62  12.68  12.32  12.43  12.47  13.55  13.27
227   1.26   1.85   1.85   1.87   1.16   2.04   2.39   2.17
228   1.81   1.86   1.78   1.75   1.81   1.80   2.12   2.18
229   5.60   5.62   5.66   5.56   5.39   5.36   6.57   6.18
230   8.72   8.50   8.31   8.58   8.69   8.41   9.15   9.84
231  13.47  13.77  13.43  13.30  13.15  13.06  13.39  13.57
232  24.89  25.15  26.54  27.04  26.91  28.47  29.22  33.56
233   9.36  10.13  10.87  11.63  12.01  12.52  12.85  13.03
234   4.77   4.78   4.79   4.78   4.80   4.83   5.35   5.17

[235 rows x 33 columns]

In [13]:
df2 = pd.melt(df, id_vars='Country Name', value_vars=["1991",
                                    "1992",
                                    "1993",
                                    "1994",
                                    "1995",
                                    "1996",
                                    "1997",
                                    "1998",
                                    "1999",
                                    "2000",
                                    "2001",
                                    "2002",
                                    "2003",
                                    "2004",
                                    "2005",
                                    "2006",
                                    "2007",
                                    "2008",
                                    "2009",
                                    "2010",
                                    "2011",
                                    "2012",
                                    "2013",
                                    "2014",
                                    "2015",
                                    "2016",
                                    "2017",
                                    "2018",
                                    "2019",
                                    "2020",
                                    "2021"], var_name='Year', value_name='Unemployment')
print(df2)

                                           Country Name  Year  Unemployment
0                           Africa Eastern and Southern  1991          7.80
1                                           Afghanistan  1991         10.65
2                            Africa Western and Central  1991          4.42
3                                                Angola  1991          4.21
4                                               Albania  1991         10.31
5                                            Arab World  1991         11.62
6                                  United Arab Emirates  1991          1.87
7                                             Argentina  1991          5.44
8                                               Armenia  1991          1.60
9                                             Australia  1991          9.58
10                                              Austria  1991          3.42
11                                           Azerbaijan  1991          0.90
12                                              Burundi  1991          1.51
13                                              Belgium  1991          6.99
14                                                Benin  1991          1.49
15                                         Burkina Faso  1991          2.58
16                                           Bangladesh  1991          2.20
17                                             Bulgaria  1991         11.10
18                                              Bahrain  1991          1.01
19                                         Bahamas, The  1991         12.17
20                               Bosnia and Herzegovina  1991         17.55
21                                              Belarus  1991          0.60
22                                               Belize  1991          9.70
23                                              Bolivia  1991          2.96
24                                               Brazil  1991          6.31
25                                             Barbados  1991         22.67
26                                    Brunei Darussalam  1991          4.70
27                                               Bhutan  1991          1.41
28                                             Botswana  1991         13.82
29                             Central African Republic  1991          5.62
...                                                 ...   ...           ...
7255                                           Thailand  2021          1.42
7256                                         Tajikistan  2021          7.75
7257                                       Turkmenistan  2021          5.08
7258  Latin America & the Caribbean (IDA & IBRD coun...  2021         10.09
7259                                        Timor-Leste  2021          5.07
7260  Middle East & North Africa (IDA & IBRD countries)  2021         12.05
7261                                              Tonga  2021          3.97
7262                            South Asia (IDA & IBRD)  2021          5.79
7263          Sub-Saharan Africa (IDA & IBRD countries)  2021          7.66
7264                                Trinidad and Tobago  2021          4.80
7265                                            Tunisia  2021         16.82
7266                                            Turkiye  2021         13.39
7267                                           Tanzania  2021          2.65
7268                                             Uganda  2021          2.94
7269                                            Ukraine  2021          8.88
7270                                Upper middle income  2021          6.76
7271                                            Uruguay  2021         10.45
7272                           United States of America  2021          5.46
7273                                         Uzbekistan  2021          7.16
7274                     St. Vincent and the Grenadines  2021         21.62
7275                                          Venezuela  2021          6.41
7276                              Virgin Islands (U.S.)  2021         13.27
7277                                            Vietnam  2021          2.17
7278                                            Vanuatu  2021          2.18
7279                                              World  2021          6.18
7280                                              Samoa  2021          9.84
7281                                              Yemen  2021         13.57
7282                                       South Africa  2021         33.56
7283                                             Zambia  2021         13.03
7284                                           Zimbabwe  2021          5.17

[7285 rows x 3 columns]

In [19]:
df2['Year'] = df2['Year'].astype('int')
df2['Country Name'] = df2['Country Name'].astype(str)

                                           Country Name  Year  Unemployment
0                           Africa Eastern and Southern  1991          7.80
1                                           Afghanistan  1991         10.65
2                            Africa Western and Central  1991          4.42
3                                                Angola  1991          4.21
4                                               Albania  1991         10.31
5                                            Arab World  1991         11.62
6                                  United Arab Emirates  1991          1.87
7                                             Argentina  1991          5.44
8                                               Armenia  1991          1.60
9                                             Australia  1991          9.58
10                                              Austria  1991          3.42
11                                           Azerbaijan  1991          0.90
12                                              Burundi  1991          1.51
13                                              Belgium  1991          6.99
14                                                Benin  1991          1.49
15                                         Burkina Faso  1991          2.58
16                                           Bangladesh  1991          2.20
17                                             Bulgaria  1991         11.10
18                                              Bahrain  1991          1.01
19                                         Bahamas, The  1991         12.17
20                               Bosnia and Herzegovina  1991         17.55
21                                              Belarus  1991          0.60
22                                               Belize  1991          9.70
23                                              Bolivia  1991          2.96
24                                               Brazil  1991          6.31
25                                             Barbados  1991         22.67
26                                    Brunei Darussalam  1991          4.70
27                                               Bhutan  1991          1.41
28                                             Botswana  1991         13.82
29                             Central African Republic  1991          5.62
...                                                 ...   ...           ...
7255                                           Thailand  2021          1.42
7256                                         Tajikistan  2021          7.75
7257                                       Turkmenistan  2021          5.08
7258  Latin America & the Caribbean (IDA & IBRD coun...  2021         10.09
7259                                        Timor-Leste  2021          5.07
7260  Middle East & North Africa (IDA & IBRD countries)  2021         12.05
7261                                              Tonga  2021          3.97
7262                            South Asia (IDA & IBRD)  2021          5.79
7263          Sub-Saharan Africa (IDA & IBRD countries)  2021          7.66
7264                                Trinidad and Tobago  2021          4.80
7265                                            Tunisia  2021         16.82
7266                                            Turkiye  2021         13.39
7267                                           Tanzania  2021          2.65
7268                                             Uganda  2021          2.94
7269                                            Ukraine  2021          8.88
7270                                Upper middle income  2021          6.76
7271                                            Uruguay  2021         10.45
7272                           United States of America  2021          5.46
7273                                         Uzbekistan  2021          7.16
7274                     St. Vincent and the Grenadines  2021         21.62
7275                                          Venezuela  2021          6.41
7276                              Virgin Islands (U.S.)  2021         13.27
7277                                            Vietnam  2021          2.17
7278                                            Vanuatu  2021          2.18
7279                                              World  2021          6.18
7280                                              Samoa  2021          9.84
7281                                              Yemen  2021         13.57
7282                                       South Africa  2021         33.56
7283                                             Zambia  2021         13.03
7284                                           Zimbabwe  2021          5.17

[7285 rows x 3 columns]

In [20]:
df2.to_csv('unemployment_years_clean.csv', index=False)

In [21]:
df = pd.read_csv("gdp_country.csv")
print(df)

                       Country      1999      2000       2001       2002  \
0        Afghanistan, Rep. of.         0         0          0      4.084
1                      Albania     3.444     3.695      4.096      4.456
2                      Algeria    48.845    54.749     55.181     57.053
3                       Angola     6.153     9.135      8.936     11.386
4          Antigua and Barbuda     0.652     0.678       0.71      0.718
5                    Argentina   283.523   284.204    268.697     97.732
6                      Armenia     1.845     1.912      2.118      2.376
7                    Australia   401.782   390.017    368.191    412.901
8                      Austria    213.39   194.407    193.345    208.566
9                   Azerbaijan     4.581     5.273      5.708      6.236
10                Bahamas, The     4.704     5.004      5.131      5.389
11                     Bahrain     6.617     7.966      7.927      8.446
12                  Bangladesh    46.529    47.048     47.194      49.56
13                    Barbados     2.478     2.559      2.554      2.476
14                     Belarus    12.104    12.758     12.421     14.654
15                     Belgium   253.889   232.934    231.928     252.66
16                      Belize     0.732     0.832      0.871      0.932
17                       Benin     2.492     2.383      2.502      2.817
18                      Bhutan      0.43      0.46      0.493      0.545
19                     Bolivia     8.298     8.412      8.154      7.917
20      Bosnia and Herzegovina     4.995     5.298      5.558      6.184
21                    Botswana     5.629     6.193       6.06      5.959
22                      Brazil   586.922   644.283     554.41    505.712
23           Brunei Darussalam       4.6     6.001      5.601      5.843
24                    Bulgaria    12.977    12.639     13.605     15.614
25                Burkina Faso     3.015     2.611      2.815      3.301
26                     Burundi     0.808     0.709      0.662      0.628
27                    Cambodia     3.516     3.655       3.97       4.28
28                    Cameroon    10.424    10.046      9.497     10.888
29                      Canada   661.345   725.158    715.632    734.773
..                         ...       ...       ...        ...        ...
150                      Sudan    10.723    12.365      13.38     14.976
151                   Suriname     0.886      0.89      0.764       1.08
152                  Swaziland     1.377      1.39      1.261      1.194
153                     Sweden   253.881   242.792    221.879    244.314
154                Switzerland    265.23   246.322     250.57    277.113
155       Syrian Arab Republic    16.834    19.861     21.017      22.78
156   Taiwan Province of China   298.825   321.374    291.889    294.876
157                 Tajikistan     1.087     0.991      1.057      1.212
158                   Tanzania     8.635     9.079      9.443      9.792
159                   Thailand    122.63   122.725    115.536    126.877
160  Timor-Leste, Dem. Rep. of      0.27     0.316      0.368      0.343
161                       Togo     1.529     1.299      1.334      1.479
162                      Tonga     0.155     0.158      0.142      0.143
163        Trinidad and Tobago     6.808     8.157      9.505      9.709
164                    Tunisia     20.76    19.456     19.988     21.054
165                     Turkey    181.69    198.23    143.096    182.973
166               Turkmenistan     3.857     5.022      6.933        8.7
167                     Uganda     6.008      5.91       5.65      5.835
168                    Ukraine    31.569    31.262     38.009     42.393
169       United Arab Emirates    55.181    70.221     68.677     75.285
170             United Kingdom  1,467.03  1,445.19   1,435.63   1,574.47
171              United States  9,268.43  9,816.98  10,127.95  10,469.60
172                    Uruguay    20.913    20.086     18.561     12.089
173                 Uzbekistan    17.041    13.717     11.632      9.657
174                    Vanuatu     0.251     0.245      0.235       0.23
175                  Venezuela    97.977   117.153    122.872     92.889
176                    Vietnam    28.684    31.196     32.504     35.148
177         Yemen, Republic of      7.53     9.561      9.533      9.985
178                     Zambia     3.132     3.238       3.64      3.775
179                   Zimbabwe     5.963     8.136     12.883     30.856

          2003       2004       2005       2006       2007  ...       2013  \
0        4.585      5.971      7.309      8.399      9.892  ...     21.555
1          5.6      7.452      8.376      9.133     10.163  ...      14.91
2       68.013     85.016     102.38    114.322    116.158  ...    190.432
3       13.956       19.8     30.632     43.759      55.37  ...    136.415
4        0.754      0.818      0.875      0.962      1.026  ...      1.404
5      127.643    151.958    181.549    212.702    247.096  ...    329.332
6        2.807      3.573      4.903       6.41      7.666  ...      9.844
7      527.588    639.356    712.436    754.816    822.089  ...   1,078.91
8      255.842    293.194    305.338    321.934    348.659  ...    417.771
9        7.276      8.682     12.561     19.817     28.699  ...     62.867
10       5.503      5.661       5.87      6.223      6.624  ...       8.02
11       9.734      11.18     13.378     16.065     17.505  ...     25.814
12      54.476      59.12      61.28     65.216     71.443  ...    123.447
13       2.695      2.817      3.061      3.386      3.751  ...       4.23
14      17.823     23.141     30.131     36.944     38.185  ...     79.416
15     310.514    359.155    372.726     393.59    423.541  ...    520.026
16       0.988      1.055      1.111      1.213      1.286  ...      1.701
17       3.565      4.053      4.406       4.76      5.377  ...      8.713
18       0.611      0.709      0.828      0.983      1.156  ...      1.999
19       8.102      8.749      9.358     10.828      11.91  ...     23.306
20       7.801      9.331     10.058     11.396     13.164  ...     22.102
21       8.318      9.831     10.195     10.808     11.859  ...     14.837
22     552.239    663.552    882.043   1,067.71   1,177.71  ...   2,036.24
23       6.557      7.872      9.531     11.438     12.032  ...     16.917
24      19.974     24.331     26.719     30.608     35.781  ...     53.912
25       4.279      5.114      5.624      6.055      6.924  ...     10.545
26       0.595      0.664      0.801      0.908      0.999  ...      1.714
27       4.585      5.307      6.233      7.096      7.961  ...     15.932
28       13.63     15.784      16.88     18.372     20.018  ...      27.73
29     868.485    993.908   1,132.44   1,269.10   1,266.40  ...   1,651.52
..         ...        ...        ...        ...        ...  ...        ...
150      17.78     21.691     27.895     37.564     47.156  ...     90.739
151      1.271      1.493      1.778      2.112      2.234  ...      5.386
152      1.907      2.386      2.609      2.637      2.726  ...      3.304
153    304.854    349.557    358.481    385.293    423.649  ...    521.545
154    323.065    360.152    366.514     377.24    389.405  ...    520.368
155     22.719     24.703     27.369     31.505     34.965  ...     81.836
156    299.606    322.299    346.651    355.708    365.317  ...    466.126
157      1.555      2.073      2.311      2.811      3.141  ...      7.325
158     10.276     11.339     12.607     12.787     14.106  ...     30.515
159     142.64    161.349    176.222    206.258    219.436  ...    347.815
160      0.336      0.339       0.35      0.356      0.493  ...      1.136
161      1.677       1.94      2.112       2.21       2.39  ...      3.409
162      0.159      0.182      0.215      0.224      0.234  ...      0.332
163     12.022     13.527     16.212     19.935     21.702  ...     35.857
164         25     28.129     28.959      30.62     33.697  ...       49.8
165    240.596    302.561    362.461    392.424    432.512  ...    673.753
166     11.424     14.196     17.174     21.846     26.215  ...          0
167      6.243      6.817      8.734      9.443     10.492  ...     21.451
168     50.133     64.883     86.044    106.072    122.802  ...    160.619
169     88.579    103.784    130.256    168.263    185.949  ...    326.175
170   1,814.64   2,155.16   2,230.61   2,373.69   2,660.66  ...   2,758.80
171  10,960.75  11,712.48  12,455.83  13,244.55  13,770.31  ...  16,729.38
172     11.211     13.268     16.878     19.221     20.725  ...     54.388
173     10.129     12.001      13.67     16.088      18.84  ...     51.125
174       0.28       0.33      0.368      0.387      0.421  ...      0.747
175     83.442      112.8    143.443    181.608    219.372  ...    403.123
176      39.63     45.548     53.053     60.995     68.298  ...    135.729
177     11.869     13.565     15.193       18.7     21.657  ...     40.003
178      4.326       5.44      7.271     10.942     10.104  ...     21.829
179     10.515        4.7      4.552       5.54     18.281  ...      6.214

          2014       2015       2016       2017       2018       2019  \
0       24.304          0          0          0          0          0
1       16.053     11.591     12.204     13.214     14.341     15.553
2      203.449    175.077     181.71    192.256    202.179    210.906
3      151.089    102.011     98.815    105.369    112.533    119.403
4        1.494      1.285      1.328      1.386      1.458      1.536
5      347.731    578.705    578.692    589.585    602.868    617.386
6       10.821     10.607     10.672     11.074      11.63     12.273
7     1,125.82   1,240.80   1,253.00   1,317.16   1,381.51   1,442.47
8      430.611    372.606    386.227    402.793    418.402     433.75
9       65.776     63.983     63.602     70.927     74.266     83.996
10       8.287          0          0          0          0          0
11      27.165     30.914     32.335     34.318     36.334     38.446
12     133.176    202.333    218.991    238.723    260.874    285.329
13       4.445      4.451      4.537      4.652      4.805      4.999
14      91.501      62.02      66.37     70.997     76.023     82.437
15     535.079    458.651    473.524    492.062    511.491    531.189
16       1.787      1.763      1.841      1.931      2.021      2.114
17       9.483      7.701      8.302      9.061      9.896     10.765
18       2.174      2.209      2.465      2.748      3.141      3.468
19      24.925     33.537     35.231     38.204     41.429     44.903
20      23.616     15.568     16.306     17.356     18.556     19.897
21      15.032     13.091     13.011     13.843     14.814     16.065
22    2,155.68   1,799.61   1,672.90   1,759.27   1,854.68   1,953.67
23      17.039     11.636     11.853     13.038     14.551     17.129
24      58.117     47.167     48.594      50.73     53.227     56.032
25      11.402     11.323     12.239     13.433     14.778     16.266
26       1.835       2.97      3.247      3.512      3.825      4.145
27      17.458     17.714     19.198      20.86     22.765      24.83
28      29.758     28.524      30.79     33.521     36.458     39.594
29    1,713.41   1,572.78   1,592.35   1,682.37   1,773.80   1,860.06
..         ...        ...        ...        ...        ...        ...
150     98.222     84.331     85.222     93.817    101.047    109.358
151      6.259       5.05      5.187      5.744      6.251      6.738
152      3.402      4.305      4.357      4.445      4.555      4.657
153    547.595    483.724    499.179    519.636    541.467    562.124
154    525.688    676.979    687.591    707.527    727.226     746.28
155     90.182          0          0          0          0          0
156    488.158    518.816    540.073    565.374    591.253    618.101
157      8.713      8.045       7.97      8.589      9.328     10.182
158     33.392     46.192     46.873     50.347     54.761     59.349
159    375.689    373.536    393.019    411.266    432.409    454.082
160      1.337          0          0          0          0          0
161      3.603      4.152      4.499      4.918      5.367      5.836
162      0.352      0.443      0.473      0.507      0.531      0.558
163     38.656     27.668     28.321     30.022     31.906     33.896
164     53.775     44.272     44.584     45.629     46.962     50.171
165    710.833    722.219    721.167     761.44    804.563    851.773
166          0     44.362     51.271     58.193     65.462     73.974
167     22.991     24.943     26.631     29.258     31.577     34.188
168    175.949     90.138     93.812    104.307    115.455    125.991
169    356.668    339.085    356.219    382.619    410.422    438.118
170   2,919.12   2,864.90   3,054.84   3,232.28   3,425.54   3,616.82
171  17,419.35  17,968.20  18,697.92  19,555.87  20,493.25  21,404.19
172     63.167     54.968     57.151     59.943     63.134     66.532
173     58.224     65.953     68.699     73.457      78.31     83.478
174      0.804      0.771      0.832      0.891      0.949      1.002
175    409.562    131.855    133.534    144.227    155.096     170.41
176    148.914    198.805     214.75    229.845    247.415    265.987
177     42.687          0          0          0          0          0
178     23.613     24.466     25.158      27.17     29.911     32.957
179      6.851     13.905     14.292     14.994     15.736     16.609

          2020       2021       2022
0            0          0          0
1       16.996      16.77     18.012
2       219.16    163.812    168.195
3       127.15     70.339     74.953
4        1.617      1.405      1.534
5      633.889    455.172    483.765
6       12.939     13.612      15.06
7     1,515.70   1,610.56   1,677.45
8      452.657    481.209    520.343
9       87.276     52.645     54.725
10           0          0          0
11      40.522     39.104     41.057
12     310.858    355.689    390.608
13       5.222      4.648      5.142
14      89.315     65.754     70.632
15     556.197    581.848     619.16
16       2.207      1.909      2.062
17      11.659     18.067     19.917
18       3.798       2.48       2.74
19      48.626     38.547     40.895
20      21.559     21.692     23.006
21      17.456     17.605     19.002
22    2,054.41   1,645.84   1,810.61
23        19.1     15.686     16.263
24      59.506     77.907     84.308
25      18.003     19.932     21.887
26       4.489      3.193      3.396
27      27.089      26.08     27.985
28      43.247     44.806      48.29
29    1,958.15   2,015.98   2,189.79
..         ...        ...        ...
150    117.403     35.919     37.769
151      7.266      2.817      2.937
152      4.787          0          0
153    585.743    622.365    660.918
154    770.927     810.83    862.819
155          0          0          0
156    650.902    785.589    850.528
157     11.111      8.104      8.756
158     64.145     69.238     74.536
159    473.997    546.223    585.586
160          0          0          0
161      6.394      8.493      9.357
162      0.574      0.501       0.54
163     36.113     21.599     23.082
164     53.537     42.733     45.454
165    905.844    795.952    844.534
166     83.993     53.087     60.263
167     37.688     43.243         47
168    137.856    181.038    203.925
169    468.902    410.158     427.93
170   3,851.98   3,108.42   3,442.21
171  22,294.11  22,939.58  24,796.08
172     70.107     60.108     63.741
173     88.986     65.503     72.762
174      1.057      0.999       1.06
175    184.364     44.893     43.546
176    287.257    368.002    415.493
177          0          0          0
178     36.316     21.699     23.967
179     17.529     25.791     27.806

[180 rows x 24 columns]

In [50]:
df2 = pd.melt(df, id_vars="Country", value_vars= [
                                    "1999",
                                    "2000",
                                    "2001",
                                    "2002",
                                    "2003",
                                    "2004",
                                    "2005",
                                    "2006",
                                    "2007",
                                    "2008",
                                    "2009",
                                    "2010",
                                    "2012",
                                    "2013",
                                    "2014",
                                    "2015",
                                    "2016",
                                    "2017",
                                    "2018",
                                    "2019",
                                    "2020",
                                    "2021","2022"], var_name='Year', value_name='gdp')

In [51]:
df2['Country'] = df2['Country'].astype(str)
df2['Year'] = df2['Year'].astype('int')
df2['gdp'] = df2['gdp'].replace(',', '', regex = True)
df2['gdp'] = df2['gdp'].astype(float)

In [52]:
df2

                        Country  Year        gdp
0         Afghanistan, Rep. of.  1999      0.000
1                       Albania  1999      3.444
2                       Algeria  1999     48.845
3                        Angola  1999      6.153
4           Antigua and Barbuda  1999      0.652
5                     Argentina  1999    283.523
6                       Armenia  1999      1.845
7                     Australia  1999    401.782
8                       Austria  1999    213.390
9                    Azerbaijan  1999      4.581
10                 Bahamas, The  1999      4.704
11                      Bahrain  1999      6.617
12                   Bangladesh  1999     46.529
13                     Barbados  1999      2.478
14                      Belarus  1999     12.104
15                      Belgium  1999    253.889
16                       Belize  1999      0.732
17                        Benin  1999      2.492
18                       Bhutan  1999      0.430
19                      Bolivia  1999      8.298
20       Bosnia and Herzegovina  1999      4.995
21                     Botswana  1999      5.629
22                       Brazil  1999    586.922
23            Brunei Darussalam  1999      4.600
24                     Bulgaria  1999     12.977
25                 Burkina Faso  1999      3.015
26                      Burundi  1999      0.808
27                     Cambodia  1999      3.516
28                     Cameroon  1999     10.424
29                       Canada  1999    661.345
...                         ...   ...        ...
4110                      Sudan  2022     37.769
4111                   Suriname  2022      2.937
4112                  Swaziland  2022      0.000
4113                     Sweden  2022    660.918
4114                Switzerland  2022    862.819
4115       Syrian Arab Republic  2022      0.000
4116   Taiwan Province of China  2022    850.528
4117                 Tajikistan  2022      8.756
4118                   Tanzania  2022     74.536
4119                   Thailand  2022    585.586
4120  Timor-Leste, Dem. Rep. of  2022      0.000
4121                       Togo  2022      9.357
4122                      Tonga  2022      0.540
4123        Trinidad and Tobago  2022     23.082
4124                    Tunisia  2022     45.454
4125                     Turkey  2022    844.534
4126               Turkmenistan  2022     60.263
4127                     Uganda  2022     47.000
4128                    Ukraine  2022    203.925
4129       United Arab Emirates  2022    427.930
4130             United Kingdom  2022   3442.210
4131              United States  2022  24796.080
4132                    Uruguay  2022     63.741
4133                 Uzbekistan  2022     72.762
4134                    Vanuatu  2022      1.060
4135                  Venezuela  2022     43.546
4136                    Vietnam  2022    415.493
4137         Yemen, Republic of  2022      0.000
4138                     Zambia  2022     23.967
4139                   Zimbabwe  2022     27.806

[4140 rows x 3 columns]

In [53]:
df2.to_csv('gdp_clean.csv', index=False)

In [4]:
population = pd.read_csv("world_population.csv")

In [7]:
population['PopMale'] = population['PopMale'].replace(',', '', regex = True)
population['PopFemale'] = population['PopFemale'].replace(',', '', regex = True)
population['PopTotal'] = population['PopTotal'].replace(',', '', regex = True)

In [10]:
population['PopMale'] = population['PopMale'].astype(float)
population['PopFemale'] = population['PopFemale'].astype(float)
population['PopTotal'] = population['PopTotal'].astype(float)

In [13]:
del population['index']

In [ ]:
print(pop)